<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <bean id="dbService" class="ru.otus.l0131.db.DBServiceImpl">
        <constructor-arg name="cacheEngine" ref="cacheEngine"/>
    </bean>


    <bean id="cacheEngine" class="ru.otus.l0131.cache.CacheEngineImpl"/>

</beans>